* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
    padding: 5rem 7rem;
}

.main {
    padding: 5rem;
    background: #fff;
    border-radius: 10px;
}

.header {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    padding: 2rem 4rem;
    background-color: rgba(148, 180, 159, .8);
}

.header > * {
    padding: 1rem 1.5rem;
}

.user-outlook {
    display: flex;
    font-size: 2.2rem;
    align-items: center;
    margin-right: auto;
}

.img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.icons {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.user-contact-link {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.user-heading {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

li {
    list-style: none;
}

.user-info {
    display: flex;
    flex-wrap: wrap;

    font-size: 1.6rem;
    padding: 2rem 4rem;
    background-color: rgba(206, 229, 208, .8);
}

.user-info > div{
    width: 45%;
    margin-right: auto;
    padding: 1rem 1.5rem;
    background-color: #FCF8E8;
}

.institute:not(:last-child) {
    margin-bottom: 2rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills > li {
    width: 30%;
    display: inline-block;
    margin-right: auto;
    margin-bottom: 4rem;
    border-bottom: 4px solid #495C83;
}

.internships > ul, .projects > ul{
    margin-bottom: 2rem;
}

.footer {
    background-color: #ECB390;
}

.form {
    display: flex;

    flex-direction: column;
    padding: 2rem 8rem;
    font-size: 1.6rem;
    justify-content: center;
}

.form-input {
    display: flex;
    align-items: center;
    padding: 0 4rem;
}

.form-input-left, .form-input-right {
    display: flex;

    width: 40%;
    flex-direction: column;
    padding: 1rem 2rem;
}

.form-input-left {
    margin-right: auto;
}

.form-input-right {
    display: flex;
    flex-direction: column;
}

.form-input-item {
    margin-bottom: 1rem;
    padding: 1rem 1.6rem;
    
    display: flex;
    align-items: center;
}

.form-input-item > label {
    margin-right: 1rem;
    display: inline-block;
    padding: 1rem 1.2rem;
}

.input {
    padding: .6rem 1.2rem;
    border-radius: 1rem;
}

input {
    border: 1px solid #ccc;
    height: 3rem;
    width: 30rem;
}

.suggestion {
    width: 40rem;
    height: 8rem;
}

.form-action {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 1rem 1.8rem;
    letter-spacing: 2px;
    border-radius: 10px;
    border: solid 1px #D0C9C0;
    background-color: #EFEAD8;
    margin-bottom: 1rem;
}

.warning-text {
    display: none;
    color: red;
}

.suggestion-heading {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-weight: 400;
}

.cart {
    border-radius: 10px;
    margin-bottom: 1.2rem;
    /* box-shadow: ; */
}